@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;900&family=Poppins:wght@400;600;700&display=swap');


/* Add these back to your CSS file */
.logo-text {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
}

.logo-text strong {
    font-weight: 900;
}

/* Header Styles */
.menu {
    animation: menuExpand 1s ease-in-out forwards;
    overflow: visible;
}

.menu a {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 0.6s ease forwards;
    font-weight: 400;
}

.menu a:nth-child(3) { animation-delay: 0.2s; }
.menu a:nth-child(2), .menu a:nth-child(4) { animation-delay: 0.3s; }
.menu a:nth-child(1), .menu a:nth-child(5) { animation-delay: 0.6s; }

.menu a::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color: #FFF6F3;
    transition: width 0.4s ease;
    transform-origin: center;
}

.menu a:hover::after,
.menu a.active::after { width: 100%; }

.nav-text1 {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeFromAngles 0.6s ease forwards;
    animation-delay: 0.1s;
    display: inline-block;
}

.nav-text2 {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeFromAngles 0.6s ease forwards;
    animation-delay: 0.1s;
    display: inline-block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    flex: 1 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 1200px) {
    .container { padding: 0 40px; }
}

@media (max-width: 768px) {
    .container { padding: 0 20px; margin: 0 10px; }
}

@media (max-width: 480px) {
    .container { padding: 0 10px; margin: 0 5px; }
}


@keyframes menuExpand {
    to {
        width: 500px;
        height: 20px;
        padding: 12px 40px;
        border-radius: 999px;
        text-align: center;
        overflow: visible;
    }
}

@keyframes fade {
    to { opacity: 1; transform: translateX(0px); }
}

@keyframes fadeFromAngles {
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInUp {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInRight {
    to { opacity: 1; transform: translateX(0); }
}

.dropdown {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding-top: 8px;
}

.dropdown.visible {
    opacity: 1;
    visibility: visible;
}