@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #DCD8D4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #333;
  margin: 0;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
